.menuParabens {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    
    background: #577590;

    width: 100vw;
    min-height: 100vh;

    padding: 13rem 0;
    
    position: fixed;
    top: 0;

    transition: 1s;

}

.menuParabens.aberto {

    right: 0;

}

.menuParabens.fechado {

    right: -150vw;

}

.menuParabens p {
    
    color: white;

    font-family: "Fredoka One";
    font-size: 5rem;
    
    text-align: center;
    text-shadow: 0 0 5px black;

    padding: 1rem 0;

}

.ganhador {

    font-family: "Fredoka One";
    font-size: 6rem;
    
    border-radius: 10px;
    
    box-shadow: 0 0 5px black;
    
    text-shadow: 0 0 5px black;
    
    width: 125px;
    height: 125px;
    
    transition: 0.2s;
}

p.ganhador.letraX {

    background: #43AA8B;
    color: white;

    border: 1px solid #43AA8B;

}

p.ganhador.letraO {

    background: #F94144;
    color: white;

    border: 1px solid #F94144;

}

@media(max-width: 540px) {

    .menuParabens p {

        font-size: 2.5rem;

    }

    .ganhodor {

        width: 70px;
        height: 70px;

    }

}
