* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    min-height: 100vh;

    padding: 2rem 0;

    background: #92DCE5;

}

.container {

    display: grid;
    grid-template-columns: repeat(3, calc(100vw / 8));
    grid-template-rows: repeat(3, calc(100vw / 8));

    gap: 5px;

}

.container div {

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;

    font-family: "Fredoka One";
    font-size: 6rem;

    border: 1px solid;

    width: 100%;
    height: 100%;

    cursor: pointer;

    transition: 0.2s;

}

.container div:hover {

    background: rgba(0, 0, 0, 0.5);

    box-shadow: 0 0 10px black;
    text-shadow: 0 0 10px black;

}

.buttonNewGame {

    background: #F94144;
    color: white;

    font-family: "Fredoka One";
    font-size: 2rem;

    padding: 1rem;

    border: 1px solid;
    border-radius: 10px;

    cursor: pointer;

    transition: 0.2s;

    z-index: 10;

}

.buttonNewGame:hover {

    background: #43AA8B;

    box-shadow: 0 0 5px black;

    text-shadow: 0 0 5px black;

}

@media(max-width: 1080px) {


    body {
    
        padding: 5rem 0;
    
    }

    .container {

        grid-template-columns: repeat(3, calc(100vw / 7));
        grid-template-rows: repeat(3, calc(100vw / 7));

    }

}

@media(max-width: 720px) {

    body {
    
        padding: 2rem 0;
    
    }
    
    .container {

        grid-template-columns: repeat(3, calc(100vw / 4));
        grid-template-rows: repeat(3, calc(100vw / 4));

    }

}
